In [1]:
import pandas as pd

# Loading the Datasets

In [5]:
cpu_data = pd.read_csv("DATA/CPU index.csv")
vix_data = pd.read_csv("DATA/_VIX (1).csv")
BTC_data = pd.read_csv("DATA/BTC-USD.csv")
co2_data = pd.read_csv('DATA/CO2-emission.csv')
electricity_consumption_data = pd.read_csv('DATA/Electricity-Consumption-AVG.csv')
Energy_Eficiency_data = pd.read_csv('DATA/Energy-Eficiency.csv')

# Cleaning the Data

In [654]:
cpu_data.head()

     date  cpu_index  old_cpu_index
0  Apr-87  43.589069            NaN
1  May-87  41.862022            NaN
2  Jun-87  71.135203            NaN
3  Jul-87  53.756704            NaN
4  Aug-87  60.615545            NaN

In [655]:

vix_data.head()

       Date       Open       High    Low  Close  Adj Close  Volume
0  2/1/2014  18.570000  21.480000  13.44  14.00      14.00     0.0
1  3/1/2014  16.469999  18.219999  13.46  13.88      13.88     0.0
2  4/1/2014  13.430000  17.850000  12.60  13.41      13.41     0.0
3  5/1/2014  13.640000  14.490000  11.32  11.40      11.40     0.0
4  6/1/2014  11.690000  12.890000  10.34  11.57      11.57     0.0

In [656]:
BTC_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-10-01,387.427002,411.697998,289.295990,338.321014,338.321014,902994450
1,2014-11-01,338.649994,457.092987,320.626007,378.046997,378.046997,659733360
2,2014-12-01,378.248993,384.037994,304.231995,320.192993,320.192993,553102310
3,2015-01-01,320.434998,320.434998,171.509995,217.464005,217.464005,1098811912
4,2015-02-01,216.867004,265.610992,212.014999,254.263000,254.263000,711518700

In [657]:
co2_data.head()

         Date and Time  Emission intensity, gCO2e/kWh
0  2010-07-17T21:00:00                     554.121479
1  2010-07-18T21:00:00                     554.121479
2  2010-07-19T21:00:00                     554.121479
3  2010-07-20T21:00:00                     554.121479
4  2010-07-21T21:00:00                     554.121479

In [658]:
electricity_consumption_data.head()

    Month  Monthly consumption, TWh  Cumulative consumption, TWh
0  Jul-10                    0.0000                       0.0000
1  Aug-10                    0.0000                       0.0001
2  Sep-10                    0.0001                       0.0001
3  Oct-10                    0.0002                       0.0003
4  Nov-10                    0.0003                       0.0006

In [6]:
Energy_Eficiency_data.head()

,Date,"Lower bound efficiency, J/Th","Estimated efficiency, J/Th","Upper bound efficiency, J/Th"
0,2010-07-18,14313700.0,14313700.0,14313700.0
1,2010-07-19,14313700.0,14313700.0,14313700.0
2,2010-07-20,14313700.0,14313700.0,14313700.0
3,2010-07-21,14313700.0,14313700.0,14313700.0
4,2010-07-22,14313700.0,14313700.0,14313700.0

Droping unwanted columns from datasets

In [7]:
BTC_data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)
cpu_data.drop('old_cpu_index', axis=1, inplace=True)
vix_data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)
Energy_Eficiency_data.drop(['Lower bound efficiency, J/Th','Upper bound efficiency, J/Th'],axis=1,inplace=True)

Checking for null values

In [8]:
print('CPU DATA :',cpu_data.isnull().sum())
print('VIX DATA :',vix_data.isnull().sum())
print('BTC DATA :',BTC_data.isnull().sum())
print('CO2 DATA :',co2_data.isnull().sum())
print('ELECTRICITY DATA :',electricity_consumption_data.isnull().sum())
print('Eficiency Data :',Energy_Eficiency_data.isnull().sum())

CPU DATA : date         0
cpu_index    0
dtype: int64
VIX DATA : Date     0
Close    6
dtype: int64
BTC DATA : Date     0
Close    0
dtype: int64
CO2 DATA : Date and Time                    0
Emission intensity, gCO2e/kWh    0
dtype: int64
ELECTRICITY DATA : Month                          0
Monthly consumption, TWh       0
Cumulative consumption, TWh    0
dtype: int64
Eficiency Data : Date                          0
Estimated efficiency, J/Th    0
dtype: int64

Droping null values from vix_data

In [9]:
vix_data.dropna(inplace=True)

In [10]:
vix_data.isnull().sum()

Date     0
Close    0
dtype: int64

Setting the name for the date column to "Date"  for each dataset.

In [11]:
cpu_data.rename(columns={'date': 'Date'}, inplace=True)
co2_data.rename(columns={'Date and Time': 'Date'}, inplace=True)
electricity_consumption_data.rename(columns={'Month': 'Date'}, inplace=True)

# Converting date colums to datetime format.

The format of date in CPU index is not correct so we cannot convert CPU index date to datetime directly so we have to remove rows from the start till 329 row.

This will also help us in merging so let's select only data from 330 to 433.
Which start from OCT-14 to MAY-23.

In [12]:
cpu_selected_data = cpu_data.loc[330:433]

In [13]:
cpu_selected_data.head(1)

       Date  cpu_index
330  14-Oct  54.672738

In [14]:
cpu_selected_data.tail(1)

       Date   cpu_index
433  23-May  227.940545

Converting date from 'cpu_selected_data' to datetime.

In [15]:
cpu_selected_data['Date'] = pd.to_datetime(cpu_selected_data['Date'], format='%y-%b')

C:\Users\Idris Khan\AppData\Local\Temp\ipykernel_8368\1873947492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpu_selected_data['Date'] = pd.to_datetime(cpu_selected_data['Date'], format='%y-%b')

Setting Date as an index for all the datasets.

In [16]:
vix_data.set_index('Date', inplace=True)
BTC_data.set_index('Date', inplace=True)
cpu_selected_data.set_index('Date',inplace=True)
electricity_consumption_data.set_index('Date',inplace=True)
co2_data.set_index('Date', inplace=True)
Energy_Eficiency_data.set_index('Date',inplace=True)

In [17]:
vix_data.index = pd.to_datetime(vix_data.index)
BTC_data.index = pd.to_datetime(BTC_data.index)
electricity_consumption_data.index = pd.to_datetime(electricity_consumption_data.index,format='%b-%y')

Grouping data by month, calculating the mean for each month, and set the 1st date of each month as the index in CO2.

In [18]:
Energy_Eficiency_data.index = pd.to_datetime(Energy_Eficiency_data.index)

Energy_Eficiency_selected_monthly_mean = Energy_Eficiency_data.resample('M').mean()
Energy_Eficiency_selected_monthly_mean.index = Energy_Eficiency_selected_monthly_mean.index.to_period('M').to_timestamp()

In [19]:
co2_data.index = pd.to_datetime(co2_data.index)

co2_data_selected_monthly_mean = co2_data.resample('M').mean()
co2_data_selected_monthly_mean.index = co2_data_selected_monthly_mean.index.to_period('M').to_timestamp()

Let's also do some cleaning with other datasets and remove rows so that all datasets align with each other. This will help ensure that the datasets cover the same time period, making the analysis more consistent and meaningful.

BTC dataset start from '2014-10-01' and end on '2023-10-1' so we will select from the start till the '2023-05-01'

In [20]:
BTC_data_selected = BTC_data.loc[:'2023-05-01']

VIX dataset start from '2014-02-01' and end on '2023-05-01' so we will select data from '2014-10-01' till the end

In [21]:
vix_data_selected = vix_data.loc['2014-10-01':]

CO2, Energy_Eficiency and Electricity datasets are large so we just have to select from [2014-10-01] to [2023-05-01]

In [22]:
co2_data_selected = co2_data_selected_monthly_mean.loc['2014-10-01':'2023-05-01']
electricity_data_selected = electricity_consumption_data.loc['2014-10-01':'2023-05-01']
Eficiency_data_selected = Energy_Eficiency_selected_monthly_mean.loc['2014-10-01':'2023-05-01']

In [23]:
print('vix_data_selected shape is', vix_data_selected.shape)
print('BTC_data_selected shape is', BTC_data_selected.shape)
print('cpu_data_selected shape is', cpu_selected_data.shape)
print('co2_data_selected shape is', co2_data_selected.shape)
print('electricity_data_selected shape is', electricity_data_selected.shape)
print('Eficiency_data_selected shape is ',Eficiency_data_selected.shape)

vix_data_selected shape is (104, 1)
BTC_data_selected shape is (104, 1)
cpu_data_selected shape is (104, 1)
co2_data_selected shape is (104, 1)
electricity_data_selected shape is (104, 2)
Eficiency_data_selected shape is  (104, 1)

In [25]:
print('Duplicates in CO2 :',co2_data_selected.duplicated().sum())
print('Duplicates in Energy_Eficiency :',Eficiency_data_selected.duplicated().sum())

Duplicates in CO2 : 63
Duplicates in Energy_Eficiency : 13

So as we can see CO2 and Energy_Eficiency data also have duplicates but we cannot drop them because if we do we will lose more data.

# The data is ready now let's merge them

In [30]:
merged_data = vix_data_selected.merge(BTC_data_selected, how='inner', left_index=True, right_index=True)
merged_data = merged_data.merge(cpu_selected_data, how='inner', left_index=True, right_index=True)
merged_data = merged_data.merge(co2_data_selected, how='inner', left_index=True, right_index=True)
merged_data = merged_data.merge(electricity_data_selected, how='inner', left_index=True, right_index=True)
merged_data = merged_data.merge(Eficiency_data_selected, how='inner', left_index=True, right_index=True)

In [33]:
merged_data.columns

Index(['Close_x', 'Close_y', 'cpu_index', 'Emission intensity, gCO2e/kWh',
       'Monthly consumption, TWh', 'Cumulative consumption, TWh',
       'Estimated efficiency, J/Th'],
      dtype='object')

In [34]:
merged_data.rename(columns={'Close_x': 'VIX_Close', 'Close_y': 'BTC_Close'}, inplace=True)

In [35]:
merged_data.columns

Index(['VIX_Close', 'BTC_Close', 'cpu_index', 'Emission intensity, gCO2e/kWh',
       'Monthly consumption, TWh', 'Cumulative consumption, TWh',
       'Estimated efficiency, J/Th'],
      dtype='object')

In [36]:
merged_data.tail()

,VIX_Close,BTC_Close,cpu_index,"Emission intensity, gCO2e/kWh","Monthly consumption, TWh","Cumulative consumption, TWh","Estimated efficiency, J/Th"
Date,,,,,,,
2023-01-01,19.400000,23139.283203,213.566019,506.711362,7.8534,385.7785,35.376200
2023-02-01,20.700001,23147.353516,242.056410,506.711362,7.7767,393.5551,35.639889
2023-03-01,18.700001,28478.484375,287.529526,506.711362,9.3296,402.8848,34.811142
2023-04-01,15.780000,29268.806641,226.201916,506.711362,9.6735,412.5582,35.582580
2023-05-01,17.950001,27219.658203,227.940545,506.711362,10.4547,423.0130,35.736061

In [37]:
merged_data.to_csv('DATA/MERGED_DATA.csv')

In [38]:
merged_data.corr()

,VIX_Close,BTC_Close,cpu_index,"Emission intensity, gCO2e/kWh","Monthly consumption, TWh","Cumulative consumption, TWh","Estimated efficiency, J/Th"
VIX_Close,1.000000,0.294896,0.337834,-0.058487,0.474759,0.450752,-0.242397
BTC_Close,0.294896,1.000000,0.477942,-0.055251,0.798506,0.754098,-0.480524
cpu_index,0.337834,0.477942,1.000000,-0.194894,0.595967,0.588597,-0.575344
"Emission intensity, gCO2e/kWh",-0.058487,-0.055251,-0.194894,1.000000,-0.223102,-0.261675,0.313713
"Monthly consumption, TWh",0.474759,0.798506,0.595967,-0.223102,1.000000,0.914569,-0.679590
"Cumulative consumption, TWh",0.450752,0.754098,0.588597,-0.261675,0.914569,1.000000,-0.560783
"Estimated efficiency, J/Th",-0.242397,-0.480524,-0.575344,0.313713,-0.679590,-0.560783,1.000000

In [41]:
merged_corr = merged_data.corr()

In [42]:
merged_corr.to_csv('MERGED_CORR.csv')

# The Data has Been Merged