In [2]:
import pandas as pd

# Loading the Datasets

In [14]:
cpu_data = pd.read_csv("DATA/CPU index.csv")
vix_data = pd.read_csv("DATA/_VIX (1).csv")
BTC_data = pd.read_csv("DATA/BTC-USD.csv")

# Cleaning the Data

In [4]:
cpu_data.head()

     date  cpu_index  old_cpu_index
0  Apr-87  43.589069            NaN
1  May-87  41.862022            NaN
2  Jun-87  71.135203            NaN
3  Jul-87  53.756704            NaN
4  Aug-87  60.615545            NaN

In [5]:

vix_data.head()

       Date       Open       High    Low  Close  Adj Close  Volume
0  2/1/2014  18.570000  21.480000  13.44  14.00      14.00     0.0
1  3/1/2014  16.469999  18.219999  13.46  13.88      13.88     0.0
2  4/1/2014  13.430000  17.850000  12.60  13.41      13.41     0.0
3  5/1/2014  13.640000  14.490000  11.32  11.40      11.40     0.0
4  6/1/2014  11.690000  12.890000  10.34  11.57      11.57     0.0

Droping unwanted columns from datasets

In [11]:
# Data cleaning and formatting (if needed)
print(cpu_data.isnull().sum())
print(vix_data.isnull().sum())

date               0
cpu_index          0
old_cpu_index    173
dtype: int64
Date         0
Open         6
High         6
Low          6
Close        6
Adj Close    6
Volume       6
dtype: int64

In [13]:
# Convert date columns to datetime format
vix_data['Date'] = pd.to_datetime(vix_data['Date'])