In [101]:
import pandas as pd

# Loading the Datasets

In [102]:
cpu_data = pd.read_csv("DATA/CPU index.csv")
vix_data = pd.read_csv("DATA/_VIX (1).csv")
BTC_data = pd.read_csv("DATA/BTC-USD.csv")

# Cleaning the Data

In [103]:
cpu_data.head()

     date  cpu_index  old_cpu_index
0  Apr-87  43.589069            NaN
1  May-87  41.862022            NaN
2  Jun-87  71.135203            NaN
3  Jul-87  53.756704            NaN
4  Aug-87  60.615545            NaN

In [104]:

vix_data.head()

       Date       Open       High    Low  Close  Adj Close  Volume
0  2/1/2014  18.570000  21.480000  13.44  14.00      14.00     0.0
1  3/1/2014  16.469999  18.219999  13.46  13.88      13.88     0.0
2  4/1/2014  13.430000  17.850000  12.60  13.41      13.41     0.0
3  5/1/2014  13.640000  14.490000  11.32  11.40      11.40     0.0
4  6/1/2014  11.690000  12.890000  10.34  11.57      11.57     0.0

In [105]:
BTC_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-10-01,387.427002,411.697998,289.295990,338.321014,338.321014,902994450
1,2014-11-01,338.649994,457.092987,320.626007,378.046997,378.046997,659733360
2,2014-12-01,378.248993,384.037994,304.231995,320.192993,320.192993,553102310
3,2015-01-01,320.434998,320.434998,171.509995,217.464005,217.464005,1098811912
4,2015-02-01,216.867004,265.610992,212.014999,254.263000,254.263000,711518700

Droping unwanted columns from datasets

In [106]:
BTC_data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)
cpu_data.drop('old_cpu_index', axis=1, inplace=True)
vix_data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

Checking for null values

In [107]:
print(cpu_data.isnull().sum())
print(vix_data.isnull().sum())
print(BTC_data.isnull().sum())

date         0
cpu_index    0
dtype: int64
Date     0
Close    6
dtype: int64
Date     0
Close    0
dtype: int64

Droping null values from vix_data

In [108]:
vix_data.dropna(inplace=True)

In [109]:
vix_data.isnull().sum()

Date     0
Close    0
dtype: int64

In [110]:
vix_data.shape

(112, 2)

# Converting date colums to datetime format.

In [111]:
vix_data['Date'] = pd.to_datetime(vix_data['Date'])
BTC_data['Date'] = pd.to_datetime(BTC_data['Date'])

The format of date in CPU index is not correct so we cannot convert CPU index date to datetime so we have to remove rows from the start till 329 row.

This will also help us in merging so let's select only data from 330 to 433.
Which start from OCT-14 to MAY-23.

In [112]:
cpu_data.iloc[330]  # Indexing starts from 0, so 321st row has index 320

date            14-Oct
cpu_index    54.672738
Name: 330, dtype: object

In [113]:
cpu_data.iloc[433]

date             23-May
cpu_index    227.940545
Name: 433, dtype: object

In [114]:
cpu_selected_data = cpu_data.loc[330:433]

In [115]:
cpu_selected_data.head(1)

       date  cpu_index
330  14-Oct  54.672738

In [116]:
cpu_selected_data.tail(1)

       date   cpu_index
433  23-May  227.940545

Renaming the 'date' column to 'Date'

In [118]:
cpu_selected_data.rename(columns={'date': 'Date'}, inplace=True)

C:\Users\Idris Khan\AppData\Local\Temp\ipykernel_10984\195664517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpu_selected_data.rename(columns={'date': 'Date'}, inplace=True)

Converting date from 'cpu_selected_data' to datetime.

In [119]:
cpu_selected_data['Date'] = pd.to_datetime(cpu_selected_data['Date'], format='%y-%b')

C:\Users\Idris Khan\AppData\Local\Temp\ipykernel_10984\1873947492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpu_selected_data['Date'] = pd.to_datetime(cpu_selected_data['Date'], format='%y-%b')

Setting Date as an index for all the datasets.

In [120]:
vix_data.set_index('Date', inplace=True)
BTC_data.set_index('Date', inplace=True)
cpu_selected_data.set_index('Date',inplace=True)

In [121]:
cpu_selected_data.head()

             cpu_index
Date
2014-10-01   54.672738
2014-11-01  131.020044
2014-12-01   78.028200
2015-01-01  103.857210
2015-02-01   89.559591

Let's also do some cleaning with other datasets and remove rows so that all datasets align with each other.

 This will help ensure that the datasets cover the same time period, making the analysis more consistent and meaningful.

BTC dataset start from '2014-10-01' and end on '2023-10-1' so we will select from the start till the '2023-05-01'

In [122]:

BTC_data_selected = BTC_data.loc[:'2023-05-01']

VIX dataset start from '2014-02-01' and end on '2023-05-01' so we will select data from '2014-10-01' till the end

In [123]:
vix_data_selected = vix_data.loc['2014-10-01':]

In [124]:
print('vix_data_selected shape is', vix_data_selected.shape)
print('BTC_data_selected shape is', BTC_data_selected.shape)
print('cpu_data_selected shape is', cpu_selected_data.shape)

vix_data_selected shape is (104, 1)
BTC_data_selected shape is (104, 1)
cpu_data_selected shape is (104, 1)

In [125]:
cpu_selected_data.head(1)

            cpu_index
Date
2014-10-01  54.672738

In [126]:
cpu_selected_data.head()

             cpu_index
Date
2014-10-01   54.672738
2014-11-01  131.020044
2014-12-01   78.028200
2015-01-01  103.857210
2015-02-01   89.559591

# The data is ready now let's merge them

In [127]:
# Merge CPU data with VIX data
merged_data = pd.merge(cpu_selected_data, vix_data_selected, on='Date', how='inner')

# Merge the resulting dataframe with Bitcoin data
merged_data = pd.merge(merged_data, BTC_data_selected, on='Date', how='inner')

In [129]:
merged_data.shape

(104, 3)

In [135]:
merged_data.columns

Index(['cpu_index', 'Close_x', 'Close_y'], dtype='object')

In [137]:
merged_data.rename(columns={'Close_x': 'VIX_Close', 'Close_y': 'BTC_Close'}, inplace=True)

In [138]:
merged_data.columns

Index(['cpu_index', 'VIX_Close', 'BTC_Close'], dtype='object')